.intro {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #062f5e3c;
}

.bg-img {
  position: absolute;
  z-index: -1;
  top: -2rem;
  right: 0;
  height: calc(100vh - 4rem);
  object-fit: cover;
  
}

.intro-details {
  min-height: 100vh;
  width: 100vw;
  padding: 7rem 2rem 1rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 200;
}

.intro-name {
  color: #f3b414;
  font-size: 3.2rem;
  margin-left: 1rem;
}

.intro-para {
  font-size: 1.3rem;
  font-weight: 200;
  max-width: 45rem;
  margin: 1rem 0;
  line-height: 1.6rem;
}

.hireme-btn {
  background-color: #fff;
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  cursor: pointer;
}

.bag-icon {
  object-fit: cover;
  font-size: 1.75rem;
}


.bubbles-wrapper {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: flex-end; */
  gap: 1rem;
  /* overflow: hidden; */
  /* height: 100dvh;
  width: 100dvw; */
  inset: 0;
}

.bubbles-wrapper span {
  height: 1.2rem ;
  width: 1.2rem;
  border-radius: 50%;
  box-shadow: inset 0 0 5px darkcyan, 
  0 0 5px 2px darkcyan, 
  0 0 25px #008b8bb8,
  0 0 50px #008b8bb8, 0 0 10px 5px white;
  animation: bubble-anime 2 linear forwards;
  animation-duration: calc(120s/var(--bubble));
}

.bubbles-wrapper span:nth-child(even) {
  box-shadow: inset 0 0 5px #f00b8d, 
  0 0 5px 2px #f00b8d, 
  0 0 25px #f00b8d,
  0 0 50px #f00b8d, 0 0 10px 5px white;
}
.bubbles-wrapper span:nth-child(3n) {
  box-shadow: inset 0 0 5px #d5f00b, 
  0 0 5px 2px #d5f00b, 
  0 0 25px #d5f00b,
  0 0 50px #d5f00b, 0 0 10px 5px white;
}

@keyframes bubble-anime {
  0% {
    transform: translateY(100vh) scale(0.2);
  }
  100% {
    transform: translateY(-10vh) scale(1.1) ;
  }
}



@media screen and (max-width:500px) {
  .bg-img {
    top: -0.5rem;
    right: -10vw;
  }
  .intro-name {
    font-size: 2.5rem;
  }
  .intro-text {
    font-size: 2.4rem;
  }
  .intro-para {
    font-size: 1.2rem;
  }
}

@media screen and (max-width:425) {
  .bg-img {
    top: -1rem;
    right: -25vw;
  }
  .intro-details {
    font-size: 2rem;
  }
}
@media screen and (max-width:376) {
  .bg-img {
    right: -25vw;
  }
  .intro-details {
    padding: 3rem 0.5rem 1rem;
  }
  .intro-name {
    font-size: 3rem;
  }
  .intro-text {
    font-size: 2.2rem;
  }
  .intro-para {
    font-size: 1rem;
  }
  .hireme-btn {
    padding: 0.2rem 1rem;
    background-color: rgb(164, 46, 66);
  }
  
  .bag-icon {
    font-size: 1.6rem;
  }
}