* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: Arial, sans-serif;
}

html {
  scrollbar-width: thin;
  /* scroll-behavior: smooth; */
  scrollbar-color: #7477a8;
  scrollbar-base-color: goldenrod;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020537;
  color: #d3d3d3;
  overflow: hidden;
  overflow-y: scroll;
}